<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container p-3 my-3 bg-dark text-purple">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron ">
            <h1> A difficult choice </h1>
            <p> You look at skis hat and before you get the chnace to act your freind jake takes the hat. Ski is not happy. She threatens to throw Santa over the edge if jake doesnt give her the hat. Jake refuses to give up the cool hat.
                You quickly think of two solutions <b> <a href = "MurderJake"> Murder Jake </a> </b> or <b> <a href = "KillSanta"> Try to negociate </a> </b>
            
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>