<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container p-3 my-3 bg-dark text-purple">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron ">
            <h1> The Bad Ending (1)  </h1>
            <p> As you are over the atlantic ocean a skyrate ship captures the sleigh. The pirate captain Ski grabs santa and threatens him to give
                up the spirit orb. You are captured and used as a hostage. Santa gives up the spirit orb to save your life. Ski bring you and the gang
                back to Lockwood. <b> Christmas is ruined</b>
            </p>
            
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>