<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container p-3 my-3 bg-dark text-purple">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron ">
            <h1>  </h1>
            <p>Ski comes out wearing a cool hat. Do you take it?
                <button onclick="window.location.href = 'choice'">yes</button>  <button onclick="window.location.href = 'choice'">No</button></p>
            
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>