<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container p-3 my-3 bg-dark text-purple">

    <header>
        <%- include('../partials/header'); %>
    </header>
    

    <main>

        <div class="jumbotron ">
            <h1> Skirates don't like Diplomacy(2)  </h1>

            <p> You offer to sew Ski a new hat if she lets Santa go. She is insulted by your offer
                and throws Santa over the edge. She runs over to Jake and steals back her hat. <b> Christmas is ruined</b>
            </p>
            
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>
