<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container p-3 my-3 bg-dark text-purple">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron ">
            <h1> Naughty list forever(3)  </h1>
            <p> You quickly run over grab the hat and push Jake over the edge. Santa looks over in shock takes out a pen and a minature
                copy of The Naughty List and writes your name <b> Santa is Dissapointed</b>
            </p>
            <p> <i> I'm too tired to finsih the rest of the adventure so your story ends here <b> This was the best ending you could get</b></i></p>

            
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>