<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container p-3 my-3 bg-dark text-purple">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron ">
            <h1> Rules/info </h1>

            <p> 0) You can navigate using the links/ buttons or for some choices the top menu<br>
                1)There are 4 possble endings<br>
                2) You play as jane cause she had the best story and I'm too lazy to write other chracters<br>
                3) Please ignore spelling I wrote the text at 5am<br>
                4) ignore the bad formattting and design im tired<br>
                5) don't tell you know who about this project or she'll beg to see the code <br>
                6) Have fun!<br>

                </p>
            
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>