<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Choices</a>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/endingOne">Recject it</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/spiritorbWSword">Take it</a>
              </li>
            
        
            </ul>
          </nav>
    </header>

    <main>
        <div class="jumbotron ">
            <h1> You Take The Knife </h1>
            <p> Bersha directs you towrds the himiney. You hear a loud <i> Thump</i> from a roof 
            and out fro the fireplace appears a beardered man with a red suit. You immdeatly recognize it as Santa 
        and wonder what you're going to tell your brother </p>
        <p> He gives his well wishes to bersha and the rest of the gang then turns to you and hands you a shiny golden orb. He says that it's the sourec of his 
            magic and all Christmas Spirit and it's the source of his magic. He offers it to you. <b>Do you accept it?</b>
            <button onclick="window.location.href = 'spiritorbWSword'">yes</button>  <button onclick="window.location.href = 'endingOne'">No</button>
        </p>
        </div>
        
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>